<section class="hero">
  <div class="container">
    <div class="upper-hero-back">
      <div class="hero-text">
        <h1 class="h1-hero">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="p-hero">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-images-section">
        <ul>
          <li class="hero-woman1">
            <img
              class="hero-people"
              src="/img/hero/hero-woman1-mobile@2.webp"
              alt="woman1"
            />
          </li>
          <li class="hero-man">
            <img
              class="hero-people"
              src="/img/hero/hero-man2-mobile@2.webp"
              alt="man2"
            />
          </li>
          <li class="hero-woman2">
            <img
              class="hero-people"
              src="/img/hero/hero-woman3-mobile@2.webp"
              alt="woman3"
            />
          </li>
        </ul>
        <div class="fix"><a href="#footer" class="anchor">Scroll down</a></div>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <!-- Зображення для настільного комп'ютера -->
        <source
          srcset="
            /img/hero/hero-watches-desktop.webp   1x,
            /img/hero/hero-watches-desktop@2.webp 2x
          "
          media="(min-width: 1280px)"
        />

        <!-- Зображення для планшетів -->
        <source
          srcset="
            /img/hero/hero-watches-tablet.webp   1x,
            /img/hero/hero-watches-tablet@2.webp 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="/img/hero/hero-watches-mobile.webp 1x"
          media="(max-width: 767px)"
        />

        <!-- Зображення для телефонів -->
        <img src="/img/hero/hero-watches-mobile@2.webp" alt="watches" />
      </picture>
    </div>
  </div>
</section>
