<section class="hero" id="hero">
  <div class="container">
    <div class="upper-hero-back">
      <div class="hero-text">
        <h1 class="h1-hero">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="p-hero">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-images-section">
        <ul class="container-hero-people">
          <li class="hero-woman1">
            <picture>
              <source
                srcset="
                  /img/hero/hero-woman1-desktop.webp   1x,
                  /img/hero/hero-woman1-desktop@2.webp 2x
                "
                class="hero-people"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  /img/hero/hero-woman1-table.webp   1x,
                  /img/hero/hero-woman1-table@2.webp 2x
                "
                class="hero-people"
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  /img/hero/hero-woman1-mobile.webp   1x,
                  /img/hero/hero-woman1-mobile@2.webp 2x
                "
                class="hero-people"
                media="(max-width: 767px)"
              />

              <img
                src="/img/hero/hero-woman1-table.webp"
                alt="first woman"
                class="hero-people"
              />
            </picture>
          </li>
          <li class="hero-man">
            <picture>
              <source
                srcset="
                  /img/hero/hero-man2-desktop.webp   1x,
                  /img/hero/hero-man2-desktop@2.webp 2x
                "
                class="hero-people"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  /img/hero/hero-man2-table.webp   1x,
                  /img/hero/hero-man2-table@2.webp 2x
                "
                class="hero-people"
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  /img/hero/hero-man2-mobile.webp   1x,
                  /img/hero/hero-man2-mobile@2.webp 2x
                "
                class="hero-people"
                media="(max-width: 767px)"
              />

              <img
                src="/img/hero/hero-man2-desktop.webp"
                alt="second man"
                class="hero-people"
              />
            </picture>
          </li>
          <li class="hero-woman2">
            <picture>
              <source
                srcset="
                  /img/hero/hero-woman3-desktop.webp   1x,
                  /img/hero/hero-woman3-desktop@2.webp 2x
                "
                class="hero-people"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  /img/hero/hero-woman3-table.webp   1x,
                  /img/hero/hero-woman3-table@2.webp 2x
                "
                class="hero-people"
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  /img/hero/hero-woman3-mobile.webp    1x,
                  /img/hero/hero-woman3-mobile@2x.webp 2x
                "
                class="hero-people"
                media="(max-width: 767px)"
              />

              <img
                src="/img/hero/hero-woman3-desktop.webp"
                alt="third woman"
                class="hero-people"
              />
            </picture>
          </li>
        </ul>
        <div class="fix"><a href="#footer" class="anchor">Scroll down</a></div>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <source
          srcset="
            /img/hero/hero-watches-desktop.webp   1x,
            /img/hero/hero-watches-desktop@2.webp 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            /img/hero/hero-watches-tablet.webp   1x,
            /img/hero/hero-watches-tablet@2.webp 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            /img/hero/hero-watches-mobile.webp   1x,
            /img/hero/hero-watches-mobile@2.webp 2x
          "
          media="(max-width: 767px)"
        />

        <img src="/img/hero/hero-watches-desktop.webp" alt="watches" />
      </picture>
    </div>
  </div>
</section>
