<section class="sale" id="sale">
  <div class="container">
    <h2 class="text-sale">Sale</h2>
    <div class="planshet">
      <ul class="box-one">
        <li class="box-one-clock">
          <picture>
            <source
              srcset="
                /img/sale/planshet/box-one-planshet-1x-min.png 1x,
                /img/sale/planshet/box-one-planshet-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/sale/planshet/box-one-planshet-1x-min.png 1x,
                /img/sale/planshet/box-one-planshet-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/sale/mobil/box-one-clockk(1x)-min.png 1x,
                /img/sale/mobil/box-one-clock(2x)-min.png  2x
              "
              media="(max-width:768px)"
            />
            <img
              src="/img/sale/mobil/box-one-clock(1x)-min.png"
              alt="clock"
              width="100%"
            />
          </picture>
        </li>

        <li class="box-two-clock">
          <picture>
            <source
              srcset="
                /img/sale/planshet/box-two-planshet-1x-min.png 1x,
                /img/sale/planshet/box-two-planshet-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/sale/planshet/box-two-planshet-1x-min.png 1x,
                /img/sale/planshet/box-two-planshet-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/sale/mobil/box-two-clockk(1x)-min.png 1x,
                /img/sale/mobil/box-two-clock(2x)-min.png  2x
              "
              media="(max-width:768px)"
            />
            <img
              src="/img/sale/mobil/box-two-clock(1x)-min.png"
              alt="clock"
              width="100%"
            />
          </picture>
        </li>
        <li class="box-three-clock">
          <picture>
            <source
              srcset="
                /img/sale/planshet/box-three-planshet-1x-min.png 1x,
                /img/sale/planshet/box-three-planshet-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/sale/planshet/box-three-planshet-1x-min.png 1x,
                /img/sale/planshet/box-three-planshet-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/sale/mobil/box-threee-clockk(1x)-min.png 1x,
                /img/sale/mobil/box-threee-clock(2x)-min.png  2x
              "
              media="(max-width:768px)"
            />
            <img
              src="/img/sale/mobil/box-threee-clock(1x)-min.png"
              alt="clock"
              width="100%"
            />
          </picture>
        </li>
        <li class="box-four-clock">
          <picture>
            <source
              srcset="
                /img/sale/planshet/box-four-planshet-1x-min.png 1x,
                /img/sale/planshet/box-four-planshet-2x-min.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/sale/planshet/box-four-planshet-1x-min.png 1x,
                /img/sale/planshet/box-four-planshet-2x-min.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/sale/mobil/box-four-clockk(1x)-min.png 1x,
                /img/sale/mobil/box-four-clock(2x)-min.png  2x
              "
              media="(max-width:768px)"
            />
            <img
              src="/img/sale/mobil/box-four-clock(1x)-min.png"
              alt="clock"
              width="100%"
            />
          </picture>
        </li>
      </ul>
      <div class="box-two">
        <picture>
          <source
            srcset="
              /img/sale/planshet/clock-planshet-1x.png 1x,
              /img/sale/planshet/clock-planshet-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/sale/planshet/clock-planshet-1x.png 1x,
              /img/sale/planshet/clock-planshet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/sale/mobil/clockk-1x.png 1x,
              /img/sale/mobil/clock-2x.png  2x
            "
            media="(max-width:768px)"
          />
          <img src="/img/sale/mobil/clock-1x.png" alt="clock" width="100%" />
        </picture>
      </div>

      <div class="box-three">
        <h3 class="box-three-text">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="box-three-product">Product tag: 706587</p>
        <ul class="box-three-price">
          <li class="box-three-price-one">€1500</li>
          <li class="box-three-price-two">€3000</li>
        </ul>
        <p class="box-three-p">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="box-three-t">
          <li class="box-three-t-li">Fused carbon fiber</li>
          <li class="box-three-t-li">Grade-5 Titanuim</li>
          <li class="box-three-t-li">Athlete</li>
          <li class="box-three-t-li">Golfer</li>
          <li class="box-three-t-li">Commander</li>
          <li class="box-three-t-li">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
