<section class="sale" id="sale">
  <div class="container">
    <h2 class="text-sale">Sale</h2>
    <div class="box-one">
      <div class="box-one-clock">
        <img
          src="../img/sale/mobil/box-one-clock(1x)-min.png"
          alt="clock"
          height="52"
          width="54"
        />
      </div>
      <div class="box-two-clock">
        <img
          src="../img/sale/mobil/box-two-clock(1x)-min.png"
          alt="clock"
          height="52"
          width="54"
        />
      </div>
      <div class="box-three-clock">
        <img
          src="../img/sale/mobil/box-threee-clock(1x)-min.png"
          alt="clock"
          height="52"
          width="54"
        />
      </div>
      <div class="box-four-clock">
        <img
          src="../img/sale/mobil/box-four-clock(1x)-min.png"
          alt="clock"
          height="52"
          width="54"
        />
      </div>
    </div>
    <div class="box-two">
      <img src="../img/sale/mobil/clock-1x.png" alt="clock" width="235" />
    </div>
    <div class="box-three">
      <h3 class="box-three-text">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <p class="box-three-product">Product tag: 706587</p>
      <ul class="box-three-price">
        <li class="box-three-price-one">€1500</li>
        <li class="box-three-price-two">€3000</li>
      </ul>
      <p class="box-three-p">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="box-three-t">
        <li class="box-three-t-li">Fused carbon fiber</li>
        <li class="box-three-t-li">Grade-5 Titanuim</li>
        <li class="box-three-t-li">Athlete</li>
        <li class="box-three-t-li">Golfer</li>
        <li class="box-three-t-li">Commander</li>
        <li class="box-three-t-li">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
