.about-us-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about-us-cotainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    background-color: #F3F3F3;
    border-radius: 30px;
    padding: 0 20px;
}

.list-about-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 28px;
}

.link-about-us {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-top: 40px;
}

.item-about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.text-about-us {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.button-about-us {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    border-radius: 16px;
    min-width: 160px;
    height: 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background-color: #3350e9;
    padding: 15px 38px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .about-us-box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
    }

    .about-us-cotainer {
        padding: 0px 60px;
        gap: 60px;
        border-radius: 50px;
    }

    .list-about-us {
        gap: 40px;
    }

    .link-about-us {
        font-size: 48px;
        line-height: 0.92;
        margin-top: 80px;
    }

    .text-about-us {
        font-size: 16px;
        line-height: 1.25;
    }

    .button-about-us {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-box {
        flex-direction: row;
        gap: 40px;
    }

    .about-us-cotainer {
        gap: 40px;
        width: 580px;
    }

    .button-about-us:hover {
        background-color: #1F3CD4;
    }
}