.container-advertisment {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
  background-image: url('/img/advertisment/background-mobile.webp'),
    linear-gradient(to bottom, rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 28px 60px;
}

.advertisment-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding-bottom: 27px;
}

.text-span {
  color: rgba(251, 251, 251, 0.5);
}

.advertisment-btn {
  display: inline-block;
  margin-right: 122px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 43px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.advertisment-btn:hover {
  background-color: #fbfbfb;
  color: #0c0c0c;
}

.advertisment-btn:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}

@media (min-resolution: 192dpi) {
  .container-advertisment {
    background-image: url('/img/advertisment/background-mobile@2x.webp'),
      linear-gradient(to bottom, rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
  }
}

@media only screen and (min-width: 768px) {
  .container-advertisment {
    background-image: url('/img/advertisment/background-tablet.webp'),
      linear-gradient(to bottom, rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
    padding: 80px 64px;
  }

  @media (min-resolution: 192dpi) {
    .container-advertisment {
      background-image: url('/img/advertisment/background-tablet@2x.webp'),
        linear-gradient(to bottom, rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
    }
  }

  .advertisment-text {
    font-size: 48px;
    line-height: 0.92;
    padding-bottom: 32px;
  }

  .advertisment-btn {
    margin-right: 419px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-advertisment {
    background-image: url('/img/advertisment/background-desktop.webp'),
      linear-gradient(to bottom, rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
    padding: 83px 80px 80px;
  }

  @media (min-resolution: 192dpi) {
    .container-advertisment {
      background-image: url('/img/advertisment/background-desktop@2x.webp'),
        linear-gradient(to bottom, rgba(12, 12, 12, 1), rgba(12, 12, 12, 1));
    }
  }

  .container-advertisment {
    flex-direction: row;
    column-gap: 140px;
  }

  .advertisment-btn {
    margin-right: 0;
    white-space: nowrap;
    margin-bottom: 114px;
  }
}
