
.header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
    padding-bottom: 20px;
}


.header-logo {
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #0C0C0C;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header-navigation {
    display: none;
}

.header-soc {
    display: none;
}

.header-btn {
  border: none;
  width: 34px;
  height: 34px;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

.burger-icons {
    stroke:#0C0C0C;
}

@media only screen and (min-width: 768px) {


.header-logo {
font-weight: 500;
font-size: 20px;
letter-spacing: -0.02em;
color: #0C0C0C;
}    

.header-list {
display: flex;
align-items: center;
justify-content: space-between;
}

.header-navigation {
    display: none;
}

.header-soc {
    display: none;
}

.header-btn {
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

.header-btn {
    
    fill: #D9D9D9; 
  }
}


@media only screen and (min-width: 1280px) {

    header > .container {
    padding: 26px 65px 0 65px;
    }

    .header {
        border-bottom: 1px solid rgba(12, 12, 12, 0.1);
        padding-bottom: 26px;
    }

    .header-list {
        display: flex;
        gap: 203px;
    }

    .header-logo {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #0C0C0C;
        } 

    .header-navigation {
        display: block;
    }

    .header-navigation-list {
        display: flex;
        gap: 40px;
        }
          
        .navigation-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        text-align: center;
        color: #0C0C0C;
        transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .active::after {
            content: "";
            width: 9px;
            height: 8px;
            display: block;
            background-color: #3350E9;
            border-radius: 100%;
            margin-left: 15px;
            margin-top: 2px;
          }

        .header-soc {
         display: block;
        } 
          
        .header-soc-list {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        }
          
        .header-soc-link {
        border: 1px solid rgba(12, 12, 12, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 36px;
        height: 36px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        stroke: #0C0C0C;
        }

        .header-svg {
        fill: #000000;
        } 
          
        .header-btn {
        display: none;
        }

}