.upper-hero-back{
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  flex-wrap: nowrap;
  align-content: center;
}

.h1-hero{
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 20px;
}

.hero-span{
  color: #3350e9;
}

.p-hero{
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-images-section{
  position: relative;
  padding-top: 26px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.hero-woman1{
  position: absolute;
  top: 0;
  left: 0;
}
.hero-man{
  position: absolute;
  top: 0;
  left: 32px;
}
.hero-woman2{
  position: absolute;
  top: 0;
  left: 64px;
}

.hero-people{
  border-radius: 100%;
}

.anchor{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.anchor:hover,
.anchor:focus{
  color: #3350e9;

}

.hero-image{
  padding-top: 28px;
}

@media only screen and (min-width: 768px) {
  .upper-hero-back{
    flex-direction: row;
    gap: 11px;
    padding-bottom: 40px;
    row-gap: 0;
  }

  .fix{
      white-space: nowrap;
  }

  .h1-hero{
    font-size: 70px;
    line-height: 0.86;
  }

  .p-hero{
    font-size: 16px;
    line-height: 1.25;
    padding-right: 77px;
  }
  .container-hero-people {
    padding-left: 36px;
    padding-top: 240px;
  }

  .anchor{
    font-size: 20px;
    line-height: 1;
  }
  .hero-images-section {
    justify-content: start;
    align-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 0;
  }
  

  .hero-woman1 {
    position: absolute;
    top: 0px;
    left: 0;
  }

  .hero-man {
    position: absolute;
    top: 0px;
    left: 40px;
  }

  .hero-woman2 {
    position: absolute;
    top: 0px;
    left: 82px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero>.container {
    padding-top: 80px;
  }
  
  .upper-hero-back {
      gap: 407px;
    }

    .h1-hero{
      font-size: 72px;
      line-height: 0.88;
    }

    .p-hero {
      padding-right: 117px;
    }

    .container-hero-people {
      padding-left: 44px;
    }
}