.sale {
}
.container {
}
.text-sale {
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
}
.box-one {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.box-one-clock,
.box-two-clock,
.box-three-clock,
.box-four-clock {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  background: #f3f3f3;
  margin: 0 auto;
  padding: 13px 14px;
}
.box-two {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  margin-bottom: 20px;
  padding: 50px 50px;
}
.box-three {
  border-radius: 30px;
  height: 561px;
  background: #3350e9;
  padding: 48px 28px;
}
.box-three-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding-bottom: 10px;
}
.box-three-product {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  padding-bottom: 20px;
}
.box-three-price {
  display: flex;
  flex-wrap: wrap;

  gap: 9px;
}
.box-three-price-one {
  border-radius: 8px;
  width: 68px;
  background: rgba(251, 251, 251, 0.1);

  font-weight: 600;
  font-size: 16px;

  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 8px 12px;
}
.box-three-price-two {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
  margin-top: 9px;
}
.box-three-p {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  padding-top: 28px;
  padding-bottom: 28px;
}
.box-three-t {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.box-three-t-li {
  display: flex;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fbfbfb;
}

@media (min-width: 768px) {
  .text-sale {
    font-family: 'Gilroy', sans-serif;
    padding-bottom: 40px;
  }
  .box-one {
    display: list-item;
    margin-bottom: 0px;
  }
  .box-one-clock,
  .box-two-clock,
  .box-three-clock,
  .box-four-clock {
    width: 132px;
    height: 132px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 0;
    padding: 16px 18px;
  }
  .planshet {
    display: flex;
    flex-wrap: wrap;
  }
  .box-two {
    width: 552px;
    height: 558px;
    padding: 80px 112px;
    margin-bottom: 10px;
  }
  .box-three {
    margin-top: 30px;
    width: 704px;
    height: 518px;
    padding: 60px 60px;
  }
  .box-three-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 112%;
    padding-bottom: 10px;
    padding-right: 100px;
  }
  .box-three-price-one {
    width: 76px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
  }
  .box-three-p {
    font-size: 16px;
    line-height: 125%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .box-three-t-li {
    font-size: 14px;
    line-height: 129%;
  }
  .box-three-t {
    margin-right: 200px;
  }
}

@media (min-width: 1280px) {
  .box-two {
    width: 428px;
    height: 558px;
    padding: 80px 50px;
    margin-bottom: 10px;
    margin-right: 40px;
  }
  .box-three {
    margin-top: 0px;
    width: 530px;
    height: 558px;
  }
  .box-three-text {
    padding-right: 10px;
  }
  .box-three-p {
    padding-top: 38px;
  }
  .box-three-t {
    margin-right: 20px;
  }
}
